$color1: #723246 !default; // darkest
$color2: #edf5fc !default; // lightest
$color3: #e0e3e5 !default; // lighter
$color4: #56a764 !default; // vibrant
$color5: #e4f0fc !default; // white
$color6: #df405a !default; // error red
$color7: #b3d3ac !default; // succ green
$color8: #0f0f0f !default; // black
