$color1: #001247 !default; // darkest
$color2: #edf5fc !default; // lightest
$color3: #706895 !default; // lighter
$color4: #007ad2 !default; // vibrant
$color5: #cff6f9 !default; // white
$color6: #df405a !default; // error red
$color7: #79bd9a !default; // succ green
$color8: #0f0f0f !default; // black
